.digital {
  background-color: white;
  position: relative; }
  .digital .digital-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0; }
    @media (max-width: 1024px) {
      .digital .digital-top {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 40px 0px 120px 0px; } }
    @media (max-width: 900px) {
      .digital .digital-top {
        padding: 40px 0px 80px 0px; } }
    @media (max-width: 768px) {
      .digital .digital-top {
        padding: 30px 0px 40px 0px; } }
    .digital .digital-top .top-left {
      font-size: 80px;
      font-weight: 800;
      color: black;
      letter-spacing: 1.6px;
      text-transform: uppercase;
      margin-right: 0px; }
      @media (max-width: 1366px) {
        .digital .digital-top .top-left {
          font-size: 54px; } }
      @media (max-width: 1024px) {
        .digital .digital-top .top-left {
          font-size: 70px;
          margin-right: auto;
          margin-left: 0px; } }
      @media (max-width: 768px) {
        .digital .digital-top .top-left {
          font-size: 36px; } }
    .digital .digital-top .top-right {
      font-size: 30px;
      font-weight: 600;
      color: black;
      max-width: 680px; }
      @media (max-width: 1366px) {
        .digital .digital-top .top-right {
          font-size: 18px;
          max-width: 410px; } }
      @media (max-width: 1024px) {
        .digital .digital-top .top-right {
          font-weight: 400;
          max-width: 700px;
          font-size: 30px;
          margin-left: 0px; } }
      @media (max-width: 900px) {
        .digital .digital-top .top-right {
          max-width: 600px;
          font-size: 25px; } }
      @media (max-width: 768px) {
        .digital .digital-top .top-right {
          font-size: 19px; } }
  .digital .digital-main {
    background-color: #127acc;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-height: 600px;
    overflow: hidden; }
    @media (max-width: 1366px) {
      .digital .digital-main {
        max-height: 430px; } }
    @media (max-width: 1024px) {
      .digital .digital-main {
        background-color: white;
        flex-flow: row wrap;
        max-height: none; } }
    .digital .digital-main .main-bg-left {
      width: 100%;
      max-width: 240px;
      margin-left: 0px;
      margin-right: 0px; }
      @media (max-width: 1366px) {
        .digital .digital-main .main-bg-left {
          max-width: 170px;
          min-width: 100px; } }
      @media (max-width: 1024px) {
        .digital .digital-main .main-bg-left {
          display: none; } }
      .digital .digital-main .main-bg-left .blocks-3d {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        height: 724px;
        position: relative; }
        .digital .digital-main .main-bg-left .blocks-3d .block-left-wraper {
          margin-left: 0px;
          position: absolute;
          left: 0px;
          top: 0px;
          z-index: 2;
          max-width: 240px;
          overflow: hidden;
          background-color: #127acc;
          height: 100%; }
          .digital .digital-main .main-bg-left .blocks-3d .block-left-wraper .block-left {
            max-height: 724px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            margin: 0 auto;
            animation: steps-left-in-box 1s linear infinite;
            animation-delay: 0s;
            z-index: 2; }
            @media (max-width: 1366px) {
              .digital .digital-main .main-bg-left .blocks-3d .block-left-wraper .block-left {
                animation: steps-left-digital-1366 1s linear infinite; } }
          .digital .digital-main .main-bg-left .blocks-3d .block-left-wraper .block-line {
            display: flex;
            justify-content: center;
            align-items: center; }
            .digital .digital-main .main-bg-left .blocks-3d .block-left-wraper .block-line .block {
              border: 4px solid white;
              border-top: 1px solid white;
              border-bottom: 1px solid white;
              background-color: #127acc;
              width: 95px;
              height: 150px; }
    .digital .digital-main .main-bg-center {
      margin-left: 0px;
      margin-right: 0px; }
      @media (max-width: 1366px) {
        .digital .digital-main .main-bg-center {
          max-width: 266.22px; } }
      @media (max-width: 1024px) {
        .digital .digital-main .main-bg-center {
          background-color: #127acc;
          order: 3;
          max-width: 60%;
          width: 100%; } }
      @media (max-width: 768px) {
        .digital .digital-main .main-bg-center {
          order: 2;
          max-width: 45%;
          width: 100%;
          background-image: url(../img/digital.png);
          background-size: cover;
          background-repeat: no-repeat;
          background-position-y: bottom; }
          .digital .digital-main .main-bg-center img {
            display: none; } }
      @media (max-width: 560px) {
        .digital .digital-main .main-bg-center {
          max-width: 40%; } }
      .digital .digital-main .main-bg-center img {
        display: block;
        margin: 0px;
        width: auto;
        height: 100%; }
        @media (max-width: 1024px) {
          .digital .digital-main .main-bg-center img {
            width: 100%;
            height: auto; } }
        @media (max-width: 1024px) {
          .digital .digital-main .main-bg-center img.vertical {
            display: none; } }
        .digital .digital-main .main-bg-center img.horizont {
          display: none; }
          @media (max-width: 1024px) {
            .digital .digital-main .main-bg-center img.horizont {
              display: block; } }
          @media (max-width: 768px) {
            .digital .digital-main .main-bg-center img.horizont {
              display: none; } }
    .digital .digital-main .main-digital-left {
      max-width: 840px;
      background-color: #111011;
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      border-left: 2px solid white;
      border-right: 2px solid white; }
      @media (max-width: 1366px) {
        .digital .digital-main .main-digital-left {
          max-width: 610px;
          min-width: 420px; } }
      @media (max-width: 1024px) {
        .digital .digital-main .main-digital-left {
          background-color: #127acc;
          border: none;
          border-bottom: 2px solid white;
          max-width: 60%;
          min-width: 60%;
          order: 1; } }
      @media (max-width: 768px) {
        .digital .digital-main .main-digital-left {
          width: 100%;
          max-width: 100%;
          background-color: #111011;
          border-bottom: 2px solid white;
          order: 1; } }
      @media (max-width: 1024px) {
        .digital .digital-main .main-digital-left .block-wrapper .block-title {
          display: none; } }
      @media (max-width: 768px) {
        .digital .digital-main .main-digital-left .block-wrapper .block-title {
          display: block; } }
      .digital .digital-main .main-digital-left .block-wrapper .block-title.tablet {
        display: none; }
        @media (max-width: 1024px) {
          .digital .digital-main .main-digital-left .block-wrapper .block-title.tablet {
            display: block; } }
        @media (max-width: 768px) {
          .digital .digital-main .main-digital-left .block-wrapper .block-title.tablet {
            display: none; } }
    .digital .digital-main .main-digital-right {
      margin-left: 0px;
      border-left: 2px solid white;
      min-width: 370px; }
      @media (max-width: 1366px) {
        .digital .digital-main .main-digital-right {
          min-width: 240px; } }
      @media (max-width: 1024px) {
        .digital .digital-main .main-digital-right {
          order: 2;
          border-bottom: 2px solid white;
          background-color: #111011;
          min-width: auto;
          width: 40%; } }
      @media (max-width: 768px) {
        .digital .digital-main .main-digital-right {
          order: 3;
          width: 55%;
          border-bottom: none;
          background-color: #127acc; } }
      @media (max-width: 560px) {
        .digital .digital-main .main-digital-right {
          width: 60%; } }
      @media (max-width: 768px) {
        .digital .digital-main .main-digital-right .block-wrapper .block-title {
          text-align: right; } }
      @media (max-width: 768px) {
        .digital .digital-main .main-digital-right .block-wrapper .we-create li {
          text-align: right; } }
    .digital .digital-main .main-digital-left,
    .digital .digital-main .main-digital-right {
      padding: 60px 40px; }
      @media (max-width: 1800px) {
        .digital .digital-main .main-digital-left,
        .digital .digital-main .main-digital-right {
          padding: 60px 30px; } }
      @media (max-width: 1366px) {
        .digital .digital-main .main-digital-left,
        .digital .digital-main .main-digital-right {
          padding: 35px 25px; } }
      @media (max-width: 768px) {
        .digital .digital-main .main-digital-left,
        .digital .digital-main .main-digital-right {
          padding: 30px 20px; } }
      .digital .digital-main .main-digital-left .block-wrapper .block-title,
      .digital .digital-main .main-digital-right .block-wrapper .block-title {
        width: 100%;
        font-size: 50px;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 40px; }
        @media (max-width: 1600px) {
          .digital .digital-main .main-digital-left .block-wrapper .block-title,
          .digital .digital-main .main-digital-right .block-wrapper .block-title {
            font-size: 40px;
            margin-bottom: 30px; } }
        @media (max-width: 1320px) {
          .digital .digital-main .main-digital-left .block-wrapper .block-title,
          .digital .digital-main .main-digital-right .block-wrapper .block-title {
            font-size: 30px;
            margin-bottom: 20px; } }
        @media (max-width: 1024px) {
          .digital .digital-main .main-digital-left .block-wrapper .block-title,
          .digital .digital-main .main-digital-right .block-wrapper .block-title {
            font-size: 50px;
            margin-bottom: 40px; } }
        @media (max-width: 900px) {
          .digital .digital-main .main-digital-left .block-wrapper .block-title,
          .digital .digital-main .main-digital-right .block-wrapper .block-title {
            font-size: 40px;
            margin-bottom: 30px; } }
        @media (max-width: 768px) {
          .digital .digital-main .main-digital-left .block-wrapper .block-title,
          .digital .digital-main .main-digital-right .block-wrapper .block-title {
            font-size: 30px;
            margin-bottom: 5px; } }
      .digital .digital-main .main-digital-left .block-wrapper .we-create,
      .digital .digital-main .main-digital-right .block-wrapper .we-create {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .digital .digital-main .main-digital-left .block-wrapper .we-create li,
        .digital .digital-main .main-digital-right .block-wrapper .we-create li {
          width: 100%;
          font-size: 30px;
          margin-bottom: 30px; }
          @media (max-width: 1600px) {
            .digital .digital-main .main-digital-left .block-wrapper .we-create li,
            .digital .digital-main .main-digital-right .block-wrapper .we-create li {
              font-size: 25px;
              margin-bottom: 25px; } }
          @media (max-width: 1366px) {
            .digital .digital-main .main-digital-left .block-wrapper .we-create li,
            .digital .digital-main .main-digital-right .block-wrapper .we-create li {
              font-size: 24px;
              margin-bottom: 25px; } }
          @media (max-width: 1320px) {
            .digital .digital-main .main-digital-left .block-wrapper .we-create li,
            .digital .digital-main .main-digital-right .block-wrapper .we-create li {
              font-size: 20px;
              margin-bottom: 15px; } }
          @media (max-width: 1024px) {
            .digital .digital-main .main-digital-left .block-wrapper .we-create li,
            .digital .digital-main .main-digital-right .block-wrapper .we-create li {
              font-size: 30px;
              margin-bottom: 30px; } }
          @media (max-width: 900px) {
            .digital .digital-main .main-digital-left .block-wrapper .we-create li,
            .digital .digital-main .main-digital-right .block-wrapper .we-create li {
              font-size: 20px;
              margin-bottom: 20px; } }
          @media (max-width: 768px) {
            .digital .digital-main .main-digital-left .block-wrapper .we-create li,
            .digital .digital-main .main-digital-right .block-wrapper .we-create li {
              font-size: 22px;
              margin-bottom: 15px; } }
          @media (max-width: 420px) {
            .digital .digital-main .main-digital-left .block-wrapper .we-create li,
            .digital .digital-main .main-digital-right .block-wrapper .we-create li {
              font-size: 15px;
              margin-bottom: 8px; } }
    @media (max-width: 768px) {
      .digital .digital-main .main-digital-right .block-wrapper .block-title {
        font-size: 40px; } }
    @media (max-width: 560px) {
      .digital .digital-main .main-digital-right .block-wrapper .block-title {
        font-size: 30px; } }
    @media (max-width: 420px) {
      .digital .digital-main .main-digital-right .block-wrapper .block-title {
        font-size: 20px; } }
    @media (max-width: 768px) {
      .digital .digital-main .main-digital-right .block-wrapper .we-create li {
        font-size: 28px;
        margin-bottom: 20px; } }
    @media (max-width: 560px) {
      .digital .digital-main .main-digital-right .block-wrapper .we-create li {
        font-size: 22px;
        margin-bottom: 10px; } }
    @media (max-width: 420px) {
      .digital .digital-main .main-digital-right .block-wrapper .we-create li {
        font-size: 15px;
        margin-bottom: 8px; } }
  @media (max-width: 1024px) {
    .digital .digital-footer {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%; } }
  @media (max-width: 768px) {
    .digital .digital-footer {
      display: none; } }
  .digital .digital-footer .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0; }
    @media (max-width: 1366px) {
      .digital .digital-footer .footer-wrapper {
        padding: 35px 0; } }
    @media (max-width: 1024px) {
      .digital .digital-footer .footer-wrapper {
        padding: 40px 0; } }
    .digital .digital-footer .footer-wrapper .footer-left {
      font-size: 24px;
      font-weight: 600;
      color: #111011;
      margin-left: 0px; }
      @media (max-width: 1366px) {
        .digital .digital-footer .footer-wrapper .footer-left {
          font-size: 18px; } }
      @media (max-width: 1024px) {
        .digital .digital-footer .footer-wrapper .footer-left {
          color: white;
          font-weight: 400; } }
      @media (max-width: 900px) {
        .digital .digital-footer .footer-wrapper .footer-left {
          font-size: 17px; } }
      .digital .digital-footer .footer-wrapper .footer-left span a {
        color: #9e47d1; }
        @media (max-width: 1024px) {
          .digital .digital-footer .footer-wrapper .footer-left span a {
            color: white; } }
    .digital .digital-footer .footer-wrapper .footer-right {
      display: flex;
      justify-content: center;
      align-items: baseline;
      margin-right: 0px;
      cursor: pointer; }
      .digital .digital-footer .footer-wrapper .footer-right .btn-footer {
        color: #111011;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 1.6px;
        margin-right: 20px; }
        @media (max-width: 1366px) {
          .digital .digital-footer .footer-wrapper .footer-right .btn-footer {
            font-size: 28px; } }
        @media (max-width: 1024px) {
          .digital .digital-footer .footer-wrapper .footer-right .btn-footer {
            font-size: 38px; } }
        @media (max-width: 900px) {
          .digital .digital-footer .footer-wrapper .footer-right .btn-footer {
            font-size: 32px; } }
      @media (max-width: 900px) {
        .digital .digital-footer .footer-wrapper .footer-right .arrow img {
          height: 43px; } }
      .digital .digital-footer .footer-wrapper .footer-right .arrow img.blue {
        display: none; }
        @media (max-width: 1366px) {
          .digital .digital-footer .footer-wrapper .footer-right .arrow img.blue.blue {
            display: block; } }
        @media (max-width: 1024px) {
          .digital .digital-footer .footer-wrapper .footer-right .arrow img.blue.blue {
            display: none; } }
      .digital .digital-footer .footer-wrapper .footer-right .arrow img.blue2 {
        display: none; }
        @media (max-width: 1024px) {
          .digital .digital-footer .footer-wrapper .footer-right .arrow img.blue2.blue2 {
            display: block; } }
      @media (max-width: 1366px) {
        .digital .digital-footer .footer-wrapper .footer-right .arrow img.normal {
          display: none; } }
  .digital .digital-footer-special {
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: #127acc; }
    @media (max-width: 768px) {
      .digital .digital-footer-special {
        display: flex; } }
    .digital .digital-footer-special .left {
      width: 45%;
      overflow: hidden;
      border-right: 1px solid white;
      border-top: 2px solid white; }
      @media (max-width: 560px) {
        .digital .digital-footer-special .left {
          width: 40%; } }
      .digital .digital-footer-special .left .botom-3d-wrapper {
        position: relative;
        height: 71px; }
        .digital .digital-footer-special .left .botom-3d-wrapper .shadow {
          position: absolute;
          width: 100%;
          left: 0px;
          top: auto;
          bottom: 270px;
          height: 0px;
          box-shadow: 0 0px 110px 110px #127acc;
          z-index: 3; }
          @media (max-width: 768px) {
            .digital .digital-footer-special .left .botom-3d-wrapper .shadow {
              box-shadow: 0 0px 70px 110px #127acc;
              bottom: 160px; } }
        .digital .digital-footer-special .left .botom-3d-wrapper .block-bottom {
          max-height: 180px;
          display: none;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100%;
          margin: 0 auto;
          animation: steps-bot-in-box-mob 1s linear infinite;
          animation-delay: 0s;
          z-index: 2;
          position: absolute;
          bottom: 160px;
          height: auto; }
          @media (max-width: 1024px) {
            .digital .digital-footer-special .left .botom-3d-wrapper .block-bottom {
              display: flex; } }
          @media (max-width: 768px) {
            .digital .digital-footer-special .left .botom-3d-wrapper .block-bottom {
              bottom: -45px; } }
          .digital .digital-footer-special .left .botom-3d-wrapper .block-bottom .block-line {
            display: flex;
            justify-content: center;
            align-items: center; }
            .digital .digital-footer-special .left .botom-3d-wrapper .block-bottom .block-line .block {
              border: 1px solid white;
              background-color: #127acc;
              width: 50px;
              height: 22px; }
              @media (max-width: 768px) {
                .digital .digital-footer-special .left .botom-3d-wrapper .block-bottom .block-line .block {
                  width: 50px;
                  height: 22px; } }
    .digital .digital-footer-special .right {
      width: 55%;
      background-color: #111011;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 22px 33px;
      max-height: 73px;
      border-left: 1px solid white;
      border-top: 2px solid white;
      cursor: pointer; }
      @media (max-width: 560px) {
        .digital .digital-footer-special .right {
          width: 60%; } }
      .digital .digital-footer-special .right .btn-footer {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin: 0px; }
      .digital .digital-footer-special .right .arrow {
        margin: 0px; }
        .digital .digital-footer-special .right .arrow img {
          width: auto; }

.digital.comand .digital-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0px; }
  @media (max-width: 1024px) {
    .digital.comand .digital-top {
      flex-direction: column;
      padding-top: 25px;
      padding-bottom: 115px; } }
  @media (max-width: 1024px) {
    .digital.comand .digital-top {
      padding-bottom: 40px;
      padding-top: 30px; } }
  .digital.comand .digital-top .top-left {
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 800; }
    @media (max-width: 1366px) {
      .digital.comand .digital-top .top-left {
        font-size: 54px; } }
    @media (max-width: 1024px) {
      .digital.comand .digital-top .top-left {
        width: 100%;
        font-size: 70px;
        letter-spacing: 1.6px; } }
    @media (max-width: 768px) {
      .digital.comand .digital-top .top-left {
        font-size: 36px; } }
  .digital.comand .digital-top .top-right {
    font-size: 30px;
    max-width: 680px;
    padding-left: 90px; }
    @media (max-width: 1366px) {
      .digital.comand .digital-top .top-right {
        font-size: 18px;
        max-width: 410px; } }
    @media (max-width: 1024px) {
      .digital.comand .digital-top .top-right {
        width: 100%;
        padding: 0px;
        margin-left: 0px;
        font-size: 30px;
        max-width: 700px; } }
    @media (max-width: 900px) {
      .digital.comand .digital-top .top-right {
        max-width: 600px; } }
    @media (max-width: 768px) {
      .digital.comand .digital-top .top-right {
        font-size: 19px;
        max-width: 380px; } }
.digital.comand .digital-main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 724px;
  max-height: none;
  overflow: hidden;
  background-color: white; }
  @media (max-width: 1366px) {
    .digital.comand .digital-main {
      height: 600px; } }
  @media (max-width: 1300px) {
    .digital.comand .digital-main {
      height: 560px; } }
  @media (max-width: 1024px) {
    .digital.comand .digital-main {
      height: 950px;
      background-color: #111011; } }
  @media (max-width: 768px) {
    .digital.comand .digital-main {
      background-color: #127acc;
      height: auto; } }
  @media (max-width: 428px) {
    .digital.comand .digital-main {
      background-color: #111011; } }
  .digital.comand .digital-main .digital-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%; }
    .digital.comand .digital-main .digital-bg .blocks-3d {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      width: 100%;
      max-width: 100%;
      height: 724px;
      position: relative; }
      @media (max-width: 1366px) {
        .digital.comand .digital-main .digital-bg .blocks-3d {
          height: 600px; } }
      @media (max-width: 1024px) {
        .digital.comand .digital-main .digital-bg .blocks-3d {
          height: 950px; } }
      .digital.comand .digital-main .digital-bg .blocks-3d .block-left,
      .digital.comand .digital-main .digital-bg .blocks-3d .block-bottom {
        max-height: 724px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 0 auto; }
        .digital.comand .digital-main .digital-bg .blocks-3d .block-left .block-line,
        .digital.comand .digital-main .digital-bg .blocks-3d .block-bottom .block-line {
          display: flex;
          justify-content: center;
          align-items: center; }
          .digital.comand .digital-main .digital-bg .blocks-3d .block-left .block-line .block,
          .digital.comand .digital-main .digital-bg .blocks-3d .block-bottom .block-line .block {
            border: 4px solid white;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            background-color: #127acc;
            width: 95px;
            height: 150px; }
      .digital.comand .digital-main .digital-bg .blocks-3d .block-left-wraper {
        margin-left: 0px;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 2;
        max-width: 240px;
        overflow: hidden;
        background-color: #127acc;
        height: 100%; }
        @media (max-width: 1366px) {
          .digital.comand .digital-main .digital-bg .blocks-3d .block-left-wraper {
            max-width: 170px; } }
        @media (max-width: 1100px) {
          .digital.comand .digital-main .digital-bg .blocks-3d .block-left-wraper {
            max-width: 100px; } }
        @media (max-width: 1024px) {
          .digital.comand .digital-main .digital-bg .blocks-3d .block-left-wraper {
            display: none; } }
        @media (max-width: 768px) {
          .digital.comand .digital-main .digital-bg .blocks-3d .block-left-wraper {
            display: block;
            max-width: 240px; } }
        @media (max-width: 428px) {
          .digital.comand .digital-main .digital-bg .blocks-3d .block-left-wraper {
            display: none; } }
        .digital.comand .digital-main .digital-bg .blocks-3d .block-left-wraper .block-left {
          animation: steps-left-in-box 1s linear infinite;
          animation-delay: 0s;
          z-index: 2; }
      .digital.comand .digital-main .digital-bg .blocks-3d .block-bottom {
        animation: steps-bot-in-box 1s linear infinite;
        animation-delay: 0s;
        z-index: 1;
        position: absolute;
        bottom: -190px; }
        @media (max-width: 768px) {
          .digital.comand .digital-main .digital-bg .blocks-3d .block-bottom {
            animation: steps-bot-in-box-mob 1s linear infinite; } }
        .digital.comand .digital-main .digital-bg .blocks-3d .block-bottom .block-line .block {
          border: 1px solid white;
          background-color: #127acc;
          width: 220px;
          height: 40px; }
          @media (max-width: 768px) {
            .digital.comand .digital-main .digital-bg .blocks-3d .block-bottom .block-line .block {
              width: 50px;
              height: 22px; } }
      .digital.comand .digital-main .digital-bg .blocks-3d .block-right-wraper {
        margin-left: 0px;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 2;
        max-width: 240px;
        overflow: hidden;
        background-color: #127acc; }
        .digital.comand .digital-main .digital-bg .blocks-3d .block-right-wraper .block-left {
          animation: steps-right-in-box 1s linear infinite;
          animation-delay: 0s;
          z-index: 2; }
      .digital.comand .digital-main .digital-bg .blocks-3d .shadow {
        position: absolute;
        width: 100%;
        left: 0px;
        top: auto;
        bottom: 370px;
        height: 0px;
        box-shadow: 0 0px 105px 275px #127acc;
        z-index: 1; }
        @media (max-width: 1024px) {
          .digital.comand .digital-main .digital-bg .blocks-3d .shadow {
            display: none; } }
  .digital.comand .digital-main .main-dig-centre {
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 240px; }
    @media (max-width: 1550px) {
      .digital.comand .digital-main .main-dig-centre {
        padding: 0 100px; } }
    @media (max-width: 1366px) {
      .digital.comand .digital-main .main-dig-centre {
        font-size: 15px;
        padding: 0; } }
    @media (max-width: 1024px) {
      .digital.comand .digital-main .main-dig-centre {
        height: 750px;
        border-bottom: 2px solid white; } }
    @media (max-width: 900px) {
      .digital.comand .digital-main .main-dig-centre {
        height: 100%;
        max-height: 730px; } }
    @media (max-width: 768px) {
      .digital.comand .digital-main .main-dig-centre {
        height: 100%;
        max-height: none;
        border: none; } }
    @media (max-width: 400px) {
      .digital.comand .digital-main .main-dig-centre {
        max-height: none; } }
    .digital.comand .digital-main .main-dig-centre .item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      max-width: 25%;
      border-right: 2px solid white;
      background-color: #111011; }
      @media (max-width: 768px) {
        .digital.comand .digital-main .main-dig-centre .item {
          border-left: 2px solid white;
          max-width: 430px;
          background-color: white; }
          .digital.comand .digital-main .main-dig-centre .item:nth-of-type(2), .digital.comand .digital-main .main-dig-centre .item:nth-of-type(3), .digital.comand .digital-main .main-dig-centre .item:nth-of-type(4) {
            display: none; } }
      @media (max-width: 428px) {
        .digital.comand .digital-main .main-dig-centre .item {
          background-color: white; } }
      .digital.comand .digital-main .main-dig-centre .item:first-of-type {
        border-left: 2px solid white; }
      .digital.comand .digital-main .main-dig-centre .item .item-photo {
        border-bottom: 2px solid white;
        background-size: cover;
        background-position-x: center;
        background-repeat: no-repeat;
        max-height: 360px;
        min-height: 360px;
        width: 100%; }
        @media (max-width: 1366px) {
          .digital.comand .digital-main .main-dig-centre .item .item-photo {
            max-height: 210px;
            min-height: 210px; } }
        @media (max-width: 768px) {
          .digital.comand .digital-main .main-dig-centre .item .item-photo {
            max-height: 320px;
            min-height: 320px;
            background-position-y: -15px; } }
        @media (max-width: 400px) {
          .digital.comand .digital-main .main-dig-centre .item .item-photo {
            max-height: 199px;
            min-height: 199px;
            background-position-y: 0px; } }
      .digital.comand .digital-main .main-dig-centre .item:nth-of-type(1) .item-photo {
        background-image: url(../img/annya.jpg); }
        @media (max-width: 1366px) {
          .digital.comand .digital-main .main-dig-centre .item:nth-of-type(1) .item-photo {
            background-image: url(../img/anna-1366.jpg); } }
        @media (max-width: 1024px) {
          .digital.comand .digital-main .main-dig-centre .item:nth-of-type(1) .item-photo {
            background-image: url(../img/anna-1024.jpg); } }
        @media (max-width: 400px) {
          .digital.comand .digital-main .main-dig-centre .item:nth-of-type(1) .item-photo {
            background-image: url(../img/anna-320.jpg); } }
      .digital.comand .digital-main .main-dig-centre .item:nth-of-type(2) .item-photo {
        background-image: url(../img/sasha.jpg); }
        @media (max-width: 1366px) {
          .digital.comand .digital-main .main-dig-centre .item:nth-of-type(2) .item-photo {
            background-image: url(../img/sasha-1366.jpg); } }
        @media (max-width: 1024px) {
          .digital.comand .digital-main .main-dig-centre .item:nth-of-type(2) .item-photo {
            background-image: url(../img/sasha-1024.jpg); } }
        @media (max-width: 400px) {
          .digital.comand .digital-main .main-dig-centre .item:nth-of-type(2) .item-photo {
            background-image: url(../img/sasha-320.jpg); } }
      .digital.comand .digital-main .main-dig-centre .item:nth-of-type(3) .item-photo {
        background-image: url(../img/vika.jpg); }
        @media (max-width: 1366px) {
          .digital.comand .digital-main .main-dig-centre .item:nth-of-type(3) .item-photo {
            background-image: url(../img/vika-1366.jpg); } }
        @media (max-width: 1024px) {
          .digital.comand .digital-main .main-dig-centre .item:nth-of-type(3) .item-photo {
            background-image: url(../img/vika-1024.jpg); } }
        @media (max-width: 400px) {
          .digital.comand .digital-main .main-dig-centre .item:nth-of-type(3) .item-photo {
            background-image: url(../img/vika-320.jpg); } }
      .digital.comand .digital-main .main-dig-centre .item:nth-of-type(4) .item-photo {
        background-image: url(../img/dasha.jpg); }
        @media (max-width: 1366px) {
          .digital.comand .digital-main .main-dig-centre .item:nth-of-type(4) .item-photo {
            background-image: url(../img/dasha-1366.jpg); } }
        @media (max-width: 1024px) {
          .digital.comand .digital-main .main-dig-centre .item:nth-of-type(4) .item-photo {
            background-image: url(../img/dasha-1024.jpg); } }
        @media (max-width: 400px) {
          .digital.comand .digital-main .main-dig-centre .item:nth-of-type(4) .item-photo {
            background-image: url(../img/dasha-320.jpg); } }
      .digital.comand .digital-main .main-dig-centre .item .item-text {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%; }
        .digital.comand .digital-main .main-dig-centre .item .item-text .text-bottom {
          width: 100%; }
          @media (max-width: 1163px) {
            .digital.comand .digital-main .main-dig-centre .item .item-text .text-bottom {
              height: 50px; } }
          @media (max-width: 1024px) {
            .digital.comand .digital-main .main-dig-centre .item .item-text .text-bottom {
              height: 100px; } }
          @media (max-width: 768px) {
            .digital.comand .digital-main .main-dig-centre .item .item-text .text-bottom {
              height: auto; } }
        .digital.comand .digital-main .main-dig-centre .item .item-text .item-prof,
        .digital.comand .digital-main .main-dig-centre .item .item-text .item-name {
          font-size: 30px;
          width: 100%;
          font-weight: 300; }
          @media (max-width: 1900px) {
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-prof,
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-name {
              font-size: 25px; } }
          @media (max-width: 1660px) {
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-prof,
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-name {
              font-size: 22px; } }
          @media (max-width: 1550px) {
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-prof,
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-name {
              font-size: 20px; } }
          @media (max-width: 1024px) {
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-prof,
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-name {
              font-size: 24px; } }
          @media (max-width: 900px) {
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-prof,
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-name {
              font-size: 20px; } }
          @media (max-width: 768px) {
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-prof,
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-name {
              color: black;
              font-size: 28px; }
              .digital.comand .digital-main .main-dig-centre .item .item-text .item-prof b,
              .digital.comand .digital-main .main-dig-centre .item .item-text .item-name b {
                color: black; } }
          @media (max-width: 400px) {
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-prof,
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-name {
              font-size: 20px; } }
        .digital.comand .digital-main .main-dig-centre .item .item-text .item-about {
          padding-top: 15px;
          padding-bottom: 20px; }
        .digital.comand .digital-main .main-dig-centre .item .item-text .item-about,
        .digital.comand .digital-main .main-dig-centre .item .item-text .item-in-work {
          font-size: 18px;
          line-height: 22px;
          font-weight: 300;
          width: 100%; }
          @media (max-width: 1900px) {
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-about,
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-in-work {
              font-size: 16px;
              line-height: 19px; } }
          @media (max-width: 1660px) {
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-about,
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-in-work {
              font-size: 15px;
              line-height: 18px; } }
          @media (max-width: 1366px) {
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-about,
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-in-work {
              font-size: 15px;
              line-height: 17px; } }
          @media (max-width: 1024px) {
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-about,
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-in-work {
              font-size: 17px;
              line-height: 19px; } }
          @media (max-width: 900px) {
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-about,
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-in-work {
              font-size: 15px;
              line-height: 17px; } }
          @media (max-width: 768px) {
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-about,
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-in-work {
              font-size: 18px;
              line-height: 22px;
              color: black; }
              .digital.comand .digital-main .main-dig-centre .item .item-text .item-about b,
              .digital.comand .digital-main .main-dig-centre .item .item-text .item-in-work b {
                color: black; } }
          @media (max-width: 400px) {
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-about,
            .digital.comand .digital-main .main-dig-centre .item .item-text .item-in-work {
              font-size: 15px;
              line-height: 17px; } }
        @media (max-width: 1024px) {
          .digital.comand .digital-main .main-dig-centre .item .item-text .item-in-work {
            font-size: 18px;
            line-height: 20px; } }
        @media (max-width: 900px) {
          .digital.comand .digital-main .main-dig-centre .item .item-text .item-in-work {
            font-size: 15px;
            line-height: 17px; } }
        @media (max-width: 768px) {
          .digital.comand .digital-main .main-dig-centre .item .item-text .item-in-work {
            font-size: 18px;
            line-height: 22px; } }
        @media (max-width: 400px) {
          .digital.comand .digital-main .main-dig-centre .item .item-text .item-in-work {
            font-size: 15px;
            line-height: 17px; } }
      @media (min-width: 1921px) {
        .digital.comand .digital-main .main-dig-centre .item {
          max-width: 360px;
          margin: 0px; } }
.digital.comand .digital-footer {
  padding: 60px 0px; }
  @media (max-width: 1366px) {
    .digital.comand .digital-footer {
      padding: 35px 0px; } }
  @media (max-width: 1024px) {
    .digital.comand .digital-footer {
      position: absolute;
      bottom: 0px;
      width: 100%;
      z-index: 3; } }
  @media (max-width: 768px) {
    .digital.comand .digital-footer {
      display: block;
      position: initial;
      padding: 0px; } }
  .digital.comand .digital-footer .footer-dig-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    .digital.comand .digital-footer .footer-dig-wraper .footer-left {
      color: #111011;
      font-size: 24px;
      margin-left: 0px; }
      @media (max-width: 1366px) {
        .digital.comand .digital-footer .footer-dig-wraper .footer-left {
          font-size: 18px; } }
      @media (max-width: 1366px) {
        .digital.comand .digital-footer .footer-dig-wraper .footer-left {
          font-size: 24px; } }
      @media (max-width: 1024px) {
        .digital.comand .digital-footer .footer-dig-wraper .footer-left {
          color: white; } }
      .digital.comand .digital-footer .footer-dig-wraper .footer-left span a {
        color: #9e47d1; }
        @media (max-width: 1024px) {
          .digital.comand .digital-footer .footer-dig-wraper .footer-left span a {
            color: #ffa918; } }
    .digital.comand .digital-footer .footer-dig-wraper .footer-right {
      margin-right: 0px;
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 800;
      letter-spacing: 1.6px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      @media (max-width: 1366px) {
        .digital.comand .digital-footer .footer-dig-wraper .footer-right {
          font-size: 28px; } }
      @media (max-width: 1024px) {
        .digital.comand .digital-footer .footer-dig-wraper .footer-right {
          font-size: 38px; } }
      .digital.comand .digital-footer .footer-dig-wraper .footer-right .btn-footer {
        color: black;
        margin-right: 20px; }
        @media (max-width: 1024px) {
          .digital.comand .digital-footer .footer-dig-wraper .footer-right .btn-footer {
            color: white; } }
      .digital.comand .digital-footer .footer-dig-wraper .footer-right .arrow {
        height: 55px; }
        .digital.comand .digital-footer .footer-dig-wraper .footer-right .arrow img {
          height: 100%;
          width: auto; }
          @media (max-width: 1366px) {
            .digital.comand .digital-footer .footer-dig-wraper .footer-right .arrow img {
              height: 38px; } }
    .digital.comand .digital-footer .footer-dig-wraper.mobile {
      display: none; }
    @media (max-width: 768px) {
      .digital.comand .digital-footer .footer-dig-wraper.desc {
        display: none; }
      .digital.comand .digital-footer .footer-dig-wraper.mobile {
        display: block;
        background-color: #111011;
        color: white;
        padding: 20px 0; }
        .digital.comand .digital-footer .footer-dig-wraper.mobile .mobile-wraper {
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .digital.comand .digital-footer .footer-dig-wraper.mobile .mobile-wraper .dig-beck,
          .digital.comand .digital-footer .footer-dig-wraper.mobile .mobile-wraper .dig-next {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            font-size: 20px;
            text-transform: uppercase;
            cursor: pointer; }
            .digital.comand .digital-footer .footer-dig-wraper.mobile .mobile-wraper .dig-beck img,
            .digital.comand .digital-footer .footer-dig-wraper.mobile .mobile-wraper .dig-next img {
              width: auto; }
          .digital.comand .digital-footer .footer-dig-wraper.mobile .mobile-wraper .dig-beck {
            margin-left: 0px;
            justify-content: flex-start; }
            .digital.comand .digital-footer .footer-dig-wraper.mobile .mobile-wraper .dig-beck .text-btn,
            .digital.comand .digital-footer .footer-dig-wraper.mobile .mobile-wraper .dig-beck img {
              display: block;
              margin: 0px; }
          .digital.comand .digital-footer .footer-dig-wraper.mobile .mobile-wraper .dig-next {
            margin: 0px;
            justify-content: flex-end; }
            .digital.comand .digital-footer .footer-dig-wraper.mobile .mobile-wraper .dig-next .text-btn,
            .digital.comand .digital-footer .footer-dig-wraper.mobile .mobile-wraper .dig-next img {
              display: block;
              margin: 0px; } }
@media (max-width: 768px) {
  .digital:nth-of-type(3) .digital-main .main-dig-centre .item:nth-of-type(1), .digital:nth-of-type(3) .digital-main .main-dig-centre .item:nth-of-type(3), .digital:nth-of-type(3) .digital-main .main-dig-centre .item:nth-of-type(4) {
    display: none; }
  .digital:nth-of-type(3) .digital-main .main-dig-centre .item:nth-of-type(2) {
    display: flex; } }
@media (max-width: 768px) {
  .digital:nth-of-type(4) .digital-main .main-dig-centre .item:nth-of-type(1), .digital:nth-of-type(4) .digital-main .main-dig-centre .item:nth-of-type(2), .digital:nth-of-type(4) .digital-main .main-dig-centre .item:nth-of-type(4) {
    display: none; }
  .digital:nth-of-type(4) .digital-main .main-dig-centre .item:nth-of-type(3) {
    display: flex; } }
@media (max-width: 768px) {
  .digital:nth-of-type(5) .digital-main .main-dig-centre .item:nth-of-type(1), .digital:nth-of-type(5) .digital-main .main-dig-centre .item:nth-of-type(2), .digital:nth-of-type(5) .digital-main .main-dig-centre .item:nth-of-type(3) {
    display: none; }
  .digital:nth-of-type(5) .digital-main .main-dig-centre .item:nth-of-type(4) {
    display: flex; } }
.digital:nth-of-type(5) .digital-footer .footer-dig-wraper.mobile .mobile-wraper .dig-next {
  opacity: 0;
  pointer-events: none; }

/*# sourceMappingURL=digital.css.map */
