@import url(animation.css);
@import url(header.css);
@import url(development.css);
@import url(digital.css);
@import url(values.css);
@import url(plushki.css);
@import url(vacancies.css);
@font-face {
  font-family: 'CarePro';
  src: url("../fonts/CeraPro-Regular.ttf");
  font-weight: 400;
  font-style: normal; }
* {
  margin: 0 auto;
  padding: 0;
  color: white;
  box-sizing: border-box; }

img {
  width: 100%; }

body {
  background-color: #111011;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

a {
  text-decoration: none;
  color: initial; }

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 80px; }
  @media (max-width: 1300px) {
    .container {
      padding: 0 35px; } }
  @media (max-width: 910px) {
    .container {
      padding: 0 35px; } }
  @media (max-width: 768px) {
    .container {
      padding: 0 30px; } }
  @media (max-width: 420px) {
    .container {
      padding: 0 20px; } }

header {
  text-transform: uppercase;
  padding-top: 28px;
  padding-bottom: 22px;
  border-bottom: 2px solid white;
  overflow: hidden; }
  header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .text-header {
    font-size: 30px;
    margin-left: 0px;
    cursor: pointer; }
    @media (max-width: 1700px) {
      header .text-header {
        font-size: 21px; } }
    @media (max-width: 1300px) {
      header .text-header {
        display: none; } }
  header .logo {
    display: none;
    margin-left: 0px;
    cursor: pointer; }
    @media (max-width: 1300px) {
      header .logo {
        display: block; } }
    @media (max-width: 930px) {
      header .logo {
        padding: 0 5px; } }
    @media (max-width: 768px) {
      header .logo {
        margin: 0 auto; } }
    @media (max-width: 420px) {
      header .logo {
        display: flex;
        justify-content: center;
        align-items: center; }
        header .logo img {
          max-height: 25px;
          width: auto; } }
  header nav {
    margin-right: 0px; }
  header .lang-block {
    display: none; }
    header .lang-block a {
      display: block;
      cursor: pointer;
      padding: 0 15px;
      margin: 0 2px;
      font-weight: 600;
      color: white; }
    @media (max-width: 768px) {
      header .lang-block {
        font-size: 20px;
        display: block; } }

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  ul.navigation {
    font-size: 20px; }
    @media (max-width: 1700px) {
      ul.navigation {
        font-size: 16px; } }
    @media (max-width: 1300px) {
      ul.navigation {
        font-size: 18px; } }
    @media (max-width: 930px) {
      ul.navigation {
        font-size: 15px; } }
    @media (max-width: 768px) {
      ul.navigation {
        font-size: 16px; } }
    ul.navigation li {
      cursor: pointer;
      padding: 0 15px;
      margin: 0 2px;
      font-weight: 600; }
      @media (max-width: 1300px) {
        ul.navigation li {
          padding: 0px 15px; } }
      @media (max-width: 930px) {
        ul.navigation li {
          padding: 0px 7px; } }
      @media (max-width: 768px) {
        ul.navigation li {
          padding: 0px 10px;
          margin: 0px; } }
      ul.navigation li:hover {
        background-color: #FFA918;
        color: #111011; }
      @media (max-width: 768px) {
        ul.navigation li:last-of-type {
          display: none !important; } }
    ul.navigation .nav-about {
      display: none; }
      @media (max-width: 768px) {
        ul.navigation .nav-about {
          display: block; } }
  ul li a {
    color: white;
    cursor: pointer; }

@media (max-width: 810px) {
  .page_one:not(.slide-1) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .page_one:not(.slide-1) .section-top {
      width: 100%; }
    .page_one:not(.slide-1) .section-wrapper.style2 .today-block {
      min-height: auto; }
      .page_one:not(.slide-1) .section-wrapper.style2 .today-block .slider-navigation {
        position: initial; }
        .page_one:not(.slide-1) .section-wrapper.style2 .today-block .slider-navigation .about-center {
          display: none; }
    .page_one:not(.slide-1) .section-wrapper.style2 .blocks-3d,
    .page_one:not(.slide-1) .section-wrapper.style2 .today-hr {
      display: none; }
    .page_one:not(.slide-1) .slider .slide {
      flex-direction: column-reverse; }
      .page_one:not(.slide-1) .slider .slide .content-right.rigth-2 {
        background-color: black; }
        .page_one:not(.slide-1) .slider .slide .content-right.rigth-2 .slide-tittle {
          display: block; }
        .page_one:not(.slide-1) .slider .slide .content-right.rigth-2 p {
          font-size: 18px;
          margin: 15px auto;
          font-weight: 300; }
    .page_one:not(.slide-1) .slider .slide:nth-of-type(2n) .content-right.rigth-2 {
      background-color: white; }
      .page_one:not(.slide-1) .slider .slide:nth-of-type(2n) .content-right.rigth-2 .slide-tittle {
        color: black; }
      .page_one:not(.slide-1) .slider .slide:nth-of-type(2n) .content-right.rigth-2 p {
        color: black; }
        .page_one:not(.slide-1) .slider .slide:nth-of-type(2n) .content-right.rigth-2 p b {
          color: black; }

  .page_one.slide-2 .section-wrapper.style2 .today-block .slider-navigation .arrow-back {
    opacity: 0;
    pointer-events: none; }
  .page_one.slide-2 .section-wrapper.style2 .blocks-3d,
  .page_one.slide-2 .section-wrapper.style2 .today-hr {
    display: none; } }
section {
  overflow: hidden; }
  section.section-top .today-block .our-specialists {
    display: none; }
  @media (max-width: 1300px) {
    section.section-top .today-block {
      min-height: 314px;
      align-items: stretch; }
      section.section-top .today-block .our-specialists {
        display: block;
        font-weight: 800;
        font-size: 30px;
        width: 100%;
        text-align: left;
        margin-bottom: 10px;
        text-transform: uppercase; } }
    @media (max-width: 1300px) and (max-width: 550px) {
      section.section-top .today-block .our-specialists {
        font-size: 19px;
        letter-spacing: 1.6px; } }
    @media (max-width: 1300px) and (max-width: 420px) {
      section.section-top .today-block .our-specialists {
        font-size: 14px; } }
  @media (max-width: 1300px) {
      section.section-top .today-block .today-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-left: 0px; } }
    @media (max-width: 1300px) and (max-width: 810px) {
      section.section-top .today-block .today-text {
        font-size: 19px; } }
    @media (max-width: 1300px) and (max-width: 420px) {
      section.section-top .today-block .today-text {
        font-size: 15px; } }
  @media (max-width: 1300px) {
      section.section-top .today-block .today-hr {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
        margin-right: 0px;
        width: auto;
        min-width: 210px; } }
    @media (max-width: 1300px) and (max-width: 810px) {
      section.section-top .today-block .today-hr {
        position: absolute;
        right: 0px;
        bottom: 60px; } }
    @media (max-width: 1300px) and (max-width: 550px) {
      section.section-top .today-block .today-hr {
        display: none; } }
  @media (max-width: 1300px) {
        section.section-top .today-block .today-hr div {
          margin-right: 0px; } }
  @media (max-width: 810px) {
    section.section-top .today-block {
      position: relative; } }
  @media (max-width: 550px) {
    section.section-top .today-block {
      min-height: auto; } }
  section .today-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 60px; }
    @media (max-width: 810px) {
      section .today-block {
        padding-top: 30px; } }
    section .today-block .today-text {
      font-size: 24px;
      text-align: left;
      max-width: 580px; }
      @media (max-width: 1700px) {
        section .today-block .today-text {
          font-size: 18px;
          max-width: 520px; } }
    section .today-block .today-hr {
      font-size: 24px;
      text-align: right;
      width: 100%; }
      @media (max-width: 1700px) {
        section .today-block .today-hr {
          font-size: 18px; } }
      section .today-block .today-hr span a {
        color: #FFA918; }
  @media (max-width: 1300px) {
    section .section-wrapper {
      display: none; } }
  section .section-wrapper.style2 {
    display: none;
    position: relative; }
    @media (max-width: 1300px) {
      section .section-wrapper.style2 {
        display: block; } }
    section .section-wrapper.style2 .blocks-3d {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      max-width: 100%;
      height: 314px; }
      section .section-wrapper.style2 .blocks-3d .block-top {
        max-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 0 auto; }
        @media (max-width: 1700px) {
          section .section-wrapper.style2 .blocks-3d .block-top {
            max-height: 213px; } }
        section .section-wrapper.style2 .blocks-3d .block-top .block-line {
          display: flex;
          justify-content: center;
          align-items: center; }
          section .section-wrapper.style2 .blocks-3d .block-top .block-line .block {
            border: 2px solid white;
            width: 200px;
            height: 33px; }
      section .section-wrapper.style2 .blocks-3d .block-top {
        animation: steps-top 1s linear infinite;
        animation-delay: 0s; }
    section .section-wrapper.style2 .today-block {
      padding: 0px; }
      section .section-wrapper.style2 .today-block .today-hr {
        position: absolute;
        z-index: 1;
        font-size: 24px;
        top: 40px;
        right: 0px; }
        @media (max-width: 810px) {
          section .section-wrapper.style2 .today-block .today-hr {
            bottom: auto;
            top: 40px;
            right: 0px; } }
        section .section-wrapper.style2 .today-block .today-hr .hr-text {
          margin-right: 0px; }
      section .section-wrapper.style2 .today-block .slider-navigation {
        position: absolute;
        width: 100%;
        left: 0px;
        bottom: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        section .section-wrapper.style2 .today-block .slider-navigation .slider-navigation-wrapper {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          padding: 40px 0px;
          text-transform: uppercase;
          line-height: 1; }
          section .section-wrapper.style2 .today-block .slider-navigation .slider-navigation-wrapper .container-navigation {
            padding: 0 80px;
            z-index: 1;
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: flex-end; }
            @media (max-width: 910px) {
              section .section-wrapper.style2 .today-block .slider-navigation .slider-navigation-wrapper .container-navigation {
                padding: 0 30px; } }
          section .section-wrapper.style2 .today-block .slider-navigation .slider-navigation-wrapper .about-center {
            font-size: 50px;
            z-index: 1; }
          section .section-wrapper.style2 .today-block .slider-navigation .slider-navigation-wrapper .arrow-back,
          section .section-wrapper.style2 .today-block .slider-navigation .slider-navigation-wrapper .arrow-right {
            font-size: 20px;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px;
            cursor: pointer; }
          section .section-wrapper.style2 .today-block .slider-navigation .slider-navigation-wrapper .slider-navigation-shadow {
            position: absolute;
            width: 100%;
            box-shadow: 0 0px 100px 175px #111011;
            z-index: 0; }
  @media (max-width: 1300px) {
    section.slide-active .section-wrapper {
      display: block; } }
  @media (max-width: 1300px) {
    section.slide-active .style2 {
      display: none; } }
  section.last-slide .arrow-right {
    pointer-events: none;
    opacity: 0; }
  section .slider .slide {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    width: auto; }
    @media (max-width: 1300px) {
      section .slider .slide {
        flex-direction: column; } }
    section .slider .slide:nth-of-type(2) .photo-wrapper {
      background-image: url(../img/slide2-photo.jpg); }
      @media (max-width: 1700px) {
        section .slider .slide:nth-of-type(2) .photo-wrapper {
          background-image: url(../img/slide2-photo2.jpg); } }
      @media (max-width: 1366px) {
        section .slider .slide:nth-of-type(2) .photo-wrapper {
          background-image: url(../img/slide2-photo3.jpg); } }
      @media (max-width: 1024px) {
        section .slider .slide:nth-of-type(2) .photo-wrapper {
          background-image: url(../img/slide2-photo4.jpg); } }
      @media (max-width: 768px) {
        section .slider .slide:nth-of-type(2) .photo-wrapper {
          background-image: url(../img/slide2-photo5.jpg); } }
    section .slider .slide:nth-of-type(3) .photo-wrapper {
      background-image: url(../img/slide3-photo.jpg); }
      @media (max-width: 1700px) {
        section .slider .slide:nth-of-type(3) .photo-wrapper {
          background-image: url(../img/slide3-photo2.jpg); } }
      @media (max-width: 1366px) {
        section .slider .slide:nth-of-type(3) .photo-wrapper {
          background-image: url(../img/slide3-photo3.jpg); } }
      @media (max-width: 1024px) {
        section .slider .slide:nth-of-type(3) .photo-wrapper {
          background-image: url(../img/slide3-photo4.jpg); } }
      @media (max-width: 768px) {
        section .slider .slide:nth-of-type(3) .photo-wrapper {
          background-image: url(../img/slide3-photo5.jpg); } }
    section .slider .slide:nth-of-type(4) .photo-wrapper {
      background-image: url(../img/slide4-photo.jpg); }
      @media (max-width: 1700px) {
        section .slider .slide:nth-of-type(4) .photo-wrapper {
          background-image: url(../img/slide4-photo2.jpg); } }
      @media (max-width: 1366px) {
        section .slider .slide:nth-of-type(4) .photo-wrapper {
          background-image: url(../img/slide4-photo3.jpg); } }
      @media (max-width: 1024px) {
        section .slider .slide:nth-of-type(4) .photo-wrapper {
          background-image: url(../img/slide4-photo4.jpg); } }
      @media (max-width: 768px) {
        section .slider .slide:nth-of-type(4) .photo-wrapper {
          background-image: url(../img/slide4-photo5.jpg); } }
    section .slider .slide .slide-about {
      position: absolute;
      height: 100%;
      width: 100%;
      max-width: 175px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      top: 0;
      right: 0; }
      @media (max-width: 1300px) {
        section .slider .slide .slide-about {
          display: none;
          top: 100px; } }
      section .slider .slide .slide-about .about-btn {
        text-transform: uppercase;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
        margin-right: 50px;
        cursor: pointer;
        position: relative;
        background-color: black; }
        section .slider .slide .slide-about .about-btn::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 0px;
          width: 100%;
          z-index: -1;
          box-shadow: 0 0px 38px 19px #111011; }
        @media (max-width: 768px) {
          section .slider .slide .slide-about .about-btn {
            display: none; } }
        section .slider .slide .slide-about .about-btn img {
          width: auto; }
    @media (max-width: 1300px) {
      section .slider .slide[slider="1"] .slide-about {
        display: flex !important; } }
    section .slider .slide .content-left {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-width: 100%;
      width: 100%; }
      section .slider .slide .content-left .blocks-3d {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        position: relative;
        overflow: hidden;
        max-width: 100%; }
        section .slider .slide .content-left .blocks-3d .block-bottom,
        section .slider .slide .content-left .blocks-3d .block-top {
          max-height: 300px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100%;
          margin: 0 auto; }
          @media (max-width: 1700px) {
            section .slider .slide .content-left .blocks-3d .block-bottom,
            section .slider .slide .content-left .blocks-3d .block-top {
              max-height: 213px; } }
          @media (max-width: 420px) {
            section .slider .slide .content-left .blocks-3d .block-bottom,
            section .slider .slide .content-left .blocks-3d .block-top {
              max-height: 121.35px; } }
          section .slider .slide .content-left .blocks-3d .block-bottom .block-line,
          section .slider .slide .content-left .blocks-3d .block-top .block-line {
            display: flex;
            justify-content: center;
            align-items: center; }
            section .slider .slide .content-left .blocks-3d .block-bottom .block-line .block,
            section .slider .slide .content-left .blocks-3d .block-top .block-line .block {
              border: 2px solid white;
              width: 200px;
              height: 33px; }
        section .slider .slide .content-left .blocks-3d .sub_logo-3d {
          position: absolute;
          height: 243px;
          width: 100%;
          top: 179.5px;
          display: flex;
          justify-content: center;
          align-items: center; }
          @media (max-width: 1700px) {
            section .slider .slide .content-left .blocks-3d .sub_logo-3d {
              height: 173px;
              top: 126.5px; } }
          @media (max-width: 420px) {
            section .slider .slide .content-left .blocks-3d .sub_logo-3d {
              height: 173px;
              top: 32px; } }
          section .slider .slide .content-left .blocks-3d .sub_logo-3d .shadow-wrapper {
            width: 100%;
            position: relative;
            box-shadow: 0 0px 51px 200px #111011; }
            @media (max-width: 1700px) {
              section .slider .slide .content-left .blocks-3d .sub_logo-3d .shadow-wrapper {
                box-shadow: 0 0px 75px 160px #111011; } }
            @media (max-width: 1024px) {
              section .slider .slide .content-left .blocks-3d .sub_logo-3d .shadow-wrapper {
                box-shadow: 0 0px 85px 160px #111011; } }
            @media (max-width: 950px) {
              section .slider .slide .content-left .blocks-3d .sub_logo-3d .shadow-wrapper {
                box-shadow: 0 0px 100px 165px #111011; } }
            @media (max-width: 420px) {
              section .slider .slide .content-left .blocks-3d .sub_logo-3d .shadow-wrapper {
                box-shadow: 0 0px 65px 120px #111011; } }
            section .slider .slide .content-left .blocks-3d .sub_logo-3d .shadow-wrapper img {
              position: absolute;
              left: -90px;
              height: 243px;
              width: 2088px; }
          section .slider .slide .content-left .blocks-3d .sub_logo-3d .logo-3d {
            position: absolute;
            left: 0px;
            top: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 243px; }
            @media (max-width: 1700px) {
              section .slider .slide .content-left .blocks-3d .sub_logo-3d .logo-3d {
                height: 173px; } }
            section .slider .slide .content-left .blocks-3d .sub_logo-3d .logo-3d img {
              max-width: 100%;
              padding: 0 30px;
              width: auto; }
              @media (max-width: 1700px) {
                section .slider .slide .content-left .blocks-3d .sub_logo-3d .logo-3d img {
                  width: 830px; } }
              @media (max-width: 420px) {
                section .slider .slide .content-left .blocks-3d .sub_logo-3d .logo-3d img {
                  padding: 0 20px; } }
          @media (max-width: 710px) {
            section .slider .slide .content-left .blocks-3d .sub_logo-3d.hr-main {
              height: 140px;
              top: 56px; } }
          section .slider .slide .content-left .blocks-3d .sub_logo-3d.hr-main .shadow-wrapper {
            position: absolute; }
            @media (max-width: 710px) {
              section .slider .slide .content-left .blocks-3d .sub_logo-3d.hr-main .shadow-wrapper {
                box-shadow: 0 0px 40px 105px #111011;
                z-index: 2; } }
          section .slider .slide .content-left .blocks-3d .sub_logo-3d.hr-main .tittle-hr {
            width: 100%;
            color: white;
            font-weight: 600;
            position: relative;
            font-size: 70px;
            text-align: center;
            z-index: 3; }
            @media (max-width: 1000px) {
              section .slider .slide .content-left .blocks-3d .sub_logo-3d.hr-main .tittle-hr {
                font-size: 50px; } }
            @media (max-width: 710px) {
              section .slider .slide .content-left .blocks-3d .sub_logo-3d.hr-main .tittle-hr {
                font-size: 22px; } }
            section .slider .slide .content-left .blocks-3d .sub_logo-3d.hr-main .tittle-hr .top-text span {
              color: #FFA918; }
            @media (max-width: 710px) {
              section .slider .slide .content-left .blocks-3d .sub_logo-3d.hr-main .tittle-hr .bottom-text {
                font-size: 30px; } }
            section .slider .slide .content-left .blocks-3d .sub_logo-3d.hr-main .tittle-hr .bottom-text a {
              text-transform: uppercase;
              font-weight: bold;
              color: white; }
        section .slider .slide .content-left .blocks-3d .block-top {
          animation: steps-top 1s linear infinite;
          animation-delay: 0s; }
          @media (max-width: 950px) {
            section .slider .slide .content-left .blocks-3d .block-top {
              animation: steps-top-table 1s linear infinite; } }
        section .slider .slide .content-left .blocks-3d .block-bottom {
          animation: steps-bottom 1s linear infinite;
          animation-delay: 0s; }
          @media (max-width: 950px) {
            section .slider .slide .content-left .blocks-3d .block-bottom {
              animation: steps-bottom-table 1s linear infinite; } }
        @media (max-width: 710px) {
          section .slider .slide .content-left .blocks-3d.hr-main .block-top,
          section .slider .slide .content-left .blocks-3d.hr-main .block-bottom {
            max-height: 125px;
            z-index: 1; } }
      section .slider .slide .content-left .slide-photo {
        width: 100%;
        position: relative; }
        section .slider .slide .content-left .slide-photo .photo-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border-top: 2px solid white;
          border-bottom: 2px solid white;
          position: relative;
          overflow: hidden;
          max-width: 100%;
          min-height: 600px;
          background-size: cover; }
          @media (max-width: 1700px) {
            section .slider .slide .content-left .slide-photo .photo-wrapper {
              min-height: 430px; } }
          section .slider .slide .content-left .slide-photo .photo-wrapper img {
            width: auto;
            height: 100%; }
      section .slider .slide .content-left .proff {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 50px;
        text-transform: uppercase;
        width: 100%;
        font-weight: 800; }
        @media (max-width: 1700px) {
          section .slider .slide .content-left .proff {
            font-size: 40px; } }
        @media (max-width: 710px) {
          section .slider .slide .content-left .proff.hr-main {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start; } }
        @media (max-width: 1300px) {
          section .slider .slide .content-left .proff.hr-main .development,
          section .slider .slide .content-left .proff.hr-main .digital {
            display: block; } }
        @media (max-width: 710px) {
          section .slider .slide .content-left .proff.hr-main .development,
          section .slider .slide .content-left .proff.hr-main .digital {
            width: 100%;
            border: none;
            border-top: 2px solid white;
            text-align: center;
            padding: 25px 20px;
            font-size: 28px; } }
        @media (max-width: 710px) {
          section .slider .slide .content-left .proff.hr-main .development {
            border-top: none; } }
      section .slider .slide .content-left .development,
      section .slider .slide .content-left .digital {
        width: 50%;
        padding: 60px 80px;
        border: 2px solid transparent;
        cursor: pointer;
        background-color: #111011; }
        @media (max-width: 1700px) {
          section .slider .slide .content-left .development,
          section .slider .slide .content-left .digital {
            padding: 40px 60px; } }
        @media (max-width: 1300px) {
          section .slider .slide .content-left .development,
          section .slider .slide .content-left .digital {
            display: none; } }
        section .slider .slide .content-left .development:hover,
        section .slider .slide .content-left .digital:hover {
          background-color: #127ACC;
          border: 2px solid white; }
      section .slider .slide .content-left .development {
        border-right: 1px solid white;
        text-align: right; }
      section .slider .slide .content-left .digital {
        border-left: 1px solid white;
        text-align: left; }
    section .slider .slide .content-right {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-color: #9E47D1;
      border: 2px solid white;
      position: relative;
      padding: 45px 45px 45px 40px; }
      section .slider .slide .content-right.rigth-2 {
        display: none !important; }
      @media (max-width: 1300px) {
        section .slider .slide .content-right {
          display: flex;
          width: 100%;
          padding: 45px 40px;
          border-top: none; }
          section .slider .slide .content-right.rigth-1 {
            display: none !important; }
          section .slider .slide .content-right.rigth-2 {
            display: block !important;
            border: none; } }
    @media (max-width: 1300px) and (max-width: 810px) {
      section .slider .slide .content-right.rigth-2 {
        padding: 35px 30px 50px 30px; } }
      @media (max-width: 1300px) {
            section .slider .slide .content-right.rigth-2.proff-2 {
              background-color: #111011;
              padding: 0px; }
              section .slider .slide .content-right.rigth-2.proff-2 .development,
              section .slider .slide .content-right.rigth-2.proff-2 .digital {
                font-size: 50px;
                text-transform: uppercase;
                text-align: center;
                border: 2px solid transparent;
                padding: 55px 0;
                cursor: pointer;
                font-weight: 800;
                background-color: #111011; }
                section .slider .slide .content-right.rigth-2.proff-2 .development:hover,
                section .slider .slide .content-right.rigth-2.proff-2 .digital:hover {
                  border: 2px solid white;
                  background-color: #127ACC; } }
        @media (max-width: 1300px) and (max-width: 1024px) {
          section .slider .slide .content-right.rigth-2.proff-2 .development,
          section .slider .slide .content-right.rigth-2.proff-2 .digital {
            font-size: 36px; } }
        @media (max-width: 1300px) and (max-width: 420px) {
          section .slider .slide .content-right.rigth-2.proff-2 .development,
          section .slider .slide .content-right.rigth-2.proff-2 .digital {
            font-size: 28px;
            padding: 40px 0; } }
      @media (max-width: 1300px) {
              section .slider .slide .content-right.rigth-2.proff-2 .development {
                border-bottom: 2px solid white; }
              section .slider .slide .content-right.rigth-2.proff-2 .digital:hover {
                border-top: 2px solid white; } }
      section .slider .slide .content-right .slide-tittle {
        font-size: 50px;
        text-transform: uppercase; }
        @media (max-width: 1700px) {
          section .slider .slide .content-right .slide-tittle {
            font-size: 40px; } }
        @media (max-width: 1300px) {
          section .slider .slide .content-right .slide-tittle {
            display: none; } }
      section .slider .slide .content-right p {
        font-size: 20px;
        margin: 20px auto;
        line-height: 1.5;
        font-weight: 300; }
        @media (max-width: 1700px) {
          section .slider .slide .content-right p {
            font-size: 17px;
            margin: 8px auto; } }
        @media (max-width: 1300px) {
          section .slider .slide .content-right p {
            font-size: 20px;
            margin: 8px auto; } }
      section .slider .slide .content-right .right-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; }
        @media (max-width: 1300px) {
          section .slider .slide .content-right .right-bottom {
            display: none; } }
        section .slider .slide .content-right .right-bottom .dot-beck,
        section .slider .slide .content-right .right-bottom .dot-next {
          width: 50%;
          font-size: 20px;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          letter-spacing: 1px;
          cursor: pointer; }
          @media (max-width: 1700px) {
            section .slider .slide .content-right .right-bottom .dot-beck,
            section .slider .slide .content-right .right-bottom .dot-next {
              font-size: 14px; } }
          section .slider .slide .content-right .right-bottom .dot-beck img,
          section .slider .slide .content-right .right-bottom .dot-next img {
            margin: 0;
            width: auto; }
            @media (max-width: 1700px) {
              section .slider .slide .content-right .right-bottom .dot-beck img,
              section .slider .slide .content-right .right-bottom .dot-next img {
                width: 14px; } }
          section .slider .slide .content-right .right-bottom .dot-beck .dot-text,
          section .slider .slide .content-right .right-bottom .dot-next .dot-text {
            width: 100%; }
        section .slider .slide .content-right .right-bottom .dot-beck {
          text-align: left; }
        section .slider .slide .content-right .right-bottom .dot-next {
          text-align: right; }
  section .slider.show .slide .slide-about {
    display: none; }
  section .slider.show .slide .content-left {
    max-width: calc(100% - 468px); }
    @media (max-width: 1700px) {
      section .slider.show .slide .content-left {
        max-width: calc(100% - 331px); } }
    @media (max-width: 1300px) {
      section .slider.show .slide .content-left {
        max-width: 100%; } }
    section .slider.show .slide .content-left .photo-wrapper {
      background-position-x: center; }
  section .slider.show .slide .content-right {
    display: flex;
    width: 468px; }
    @media (max-width: 1700px) {
      section .slider.show .slide .content-right {
        width: 331px;
        padding: 15px 18px; } }
    @media (max-width: 1300px) {
      section .slider.show .slide .content-right {
        width: 100%;
        padding: 45px 50px 90px 40px; } }

.last-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0; }
  @media (max-width: 1024px) {
    .last-top {
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding: 40px 0px 120px 0px; } }
  @media (max-width: 900px) {
    .last-top {
      padding: 40px 0px 60px 0px; } }
  @media (max-width: 768px) {
    .last-top {
      padding: 30px 0px 60px 0px; } }
  @media (max-width: 400px) {
    .last-top {
      padding: 15px 0px 80px 0px; } }
  .last-top .top-left {
    font-size: 40px;
    font-weight: 800;
    color: white;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    margin-right: 0px;
    z-index: 4; }
    @media (max-width: 1366px) {
      .last-top .top-left {
        font-size: 40px; } }
    @media (max-width: 1024px) {
      .last-top .top-left {
        font-size: 30px;
        margin-right: auto;
        margin-left: 0px; } }
    @media (max-width: 768px) {
      .last-top .top-left {
        font-size: 25px;
        margin-bottom: 6px; } }
    @media (max-width: 500px) {
      .last-top .top-left {
        font-size: 14px; } }
    @media (max-width: 400px) {
      .last-top .top-left {
        font-size: 14px;
        margin-bottom: 2px; } }
  .last-top .top-right {
    font-size: 20px;
    font-weight: 600;
    color: white;
    max-width: 750px;
    z-index: 4; }
    @media (max-width: 1366px) {
      .last-top .top-right {
        font-size: 18px;
        max-width: 410px; } }
    @media (max-width: 1024px) {
      .last-top .top-right {
        font-weight: 400;
        max-width: 700px;
        font-size: 16px;
        margin-left: 0px; } }
    @media (max-width: 900px) {
      .last-top .top-right {
        max-width: 600px;
        font-size: 16px; } }
    @media (max-width: 768px) {
      .last-top .top-right {
        max-width: 340px;
        font-size: 15px; } }

.block {
  opacity: 1; }

/*# sourceMappingURL=main.css.map */
